@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.golden-font {
  font-family: "Golden", sans-serif;
}

p,
a,
button,
input,
label,
input::placeholder,
.ant-select-selection-placeholder,
.ant-tabs-tab-btn {
  font-family: "Product", sans-serif !important;
}

body {
  background: #222831;
}

/* h1 {
  font-family: "Golden", sans-serif;
} */

@font-face {
  font-family: "Golden";
  src: url("../../public/fonts/golden.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Product";
  src: url("../../public/fonts/ProductRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

::-webkit-scrollbar-track {
  background-color: rgb(53, 53, 53);
  height: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(146, 146, 146);
  transition: 300ms ease;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(214, 214, 214);
  border-radius: 20px !important;
}

/* // /* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}
/* */
*::-webkit-scrollbar-track {
  background-color: rgb(53, 53, 53);
  height: 2px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--tertiary);
}

.grid-auth {
  display: grid;
  grid-template-columns: 30% 70%;
  height: 100%;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (max-width: 567px) {
  .grid-auth {
    grid-template-columns: 1fr;
  }
}

input {
  background: transparent !important;
}

.ant-form-item {
  margin-bottom: 15px !important;
}

.b-blur {
  background: #ffffff0c;
  backdrop-filter: blur(5px);
}

/* .ant-input,
.ant-picker,
.ant-select-selector {
  @apply bg-gray-700 text-white;
}

.ant-input:focus,
.ant-input-focused,
.ant-picker-focused,
.ant-input-affix-wrapper-focused,
.ant-select-focused,
.ant-select-selector-focused {
  @apply border-teal-500 shadow-none;
} */

.ant-btn-primary {
  @apply bg-teal-500 border-none;
}

.ant-btn-primary:hover,
.ant-btn-primary:focus {
  @apply bg-teal-600;
}

.ant-select-arrow {
  @apply text-white;
}

.ant-select-selector {
  background: transparent !important;
  padding: 1.25rem 0.75rem !important;
  border-radius: 10px !important;
  border: 1px solid #ffffff59 !important;
}

.ant-select-selection-placeholder {
  color: #ffffffa1 !important;
}

.ant-select-selection-item {
  color: #76abae;
}

label {
  color: #ffffff6e !important;
}

#add-paper_datePublished::placeholder {
  color: #ffffffa1 !important;
}

.ant-upload {
  width: 100% !important;
}

.ant-upload-list-item-name {
  color: rgba(255, 255, 255, 0.521);
}

.anticon {
  svg {
    color: #76abae !important;
  }
}

.ant-divider {
  background-color: rgba(255, 255, 255, 0.37) !important;
}

.ant-tabs {
  background: transparent !important;
}

.ant-tabs-tab-active {
  background: #222831 !important;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  border: none !important;
}

.ant-tabs-nav {
  margin-bottom: 0 !important;
}

.ant-tabs-nav {
  background: white !important;
  padding: 0.6rem 1rem;
}
